/* Dropdown CSS */
.dropdown {
    display: inline-block;
    position: relative;
  }
  
  button{
    background-color: darkslategrey;
    color: white;
    border:none;
    border-radius:5px;
    padding:10px 30px;
    font-size:18px;
    cursor:pointer;
  }
  
  
  button:hover{
    background-color:darkgray;
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 250px;
    height: fit-content;
    background-color:darkslategrey;
    color: white;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }
  .dropdown:hover .dropdown-options::-webkit-scrollbar {
    display: none;
  }
  
  .dropdown-options a {
    display: block;
    /* color: #000000; */
    /* padding: 5px; */
    text-decoration: none;
    padding:10px 10px;
    color: white;
  }
  
  .dropdown-options a:hover {
    color: green;
    background-color: darkgrey;
    border-radius:5px;
  }