/* *{
    padding: 0px;
    margin: 0px;
  }
  body {
  /*     padding: 20px; */
      /* background-color: #444; */
  /* } */
  
  .conways-life #gridContainer {
      padding-bottom: 10px;
  }
  
  .conways-life table {
      background-color: white;
      border-spacing: 0;
  }
  
  .conways-life td {
      border: none;
      border-radius: none;
      width: 10px;
      height: 10px;
  }
  
  .conways-life span {
      color: #222;
  }
  
  .conways-life #start,
  .conways-life #clear,
  .conways-life #random {
      padding: 5px;
  }
  
  .conways-life .controls{
    position: relative;
    /* top: 10px;
    left: 10px; */
  }
  
  .conways-life td.dead {
      background-color: transparent;
  }
  
  .conways-life td.live {
      background-color: black;
  /*     border-radius: 10px; */
  }