/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .recent{
        display: none;
        
    }
    body{
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
       font-size: 16px; 
    }
    .banner-description, .updates-md{
        text-align: left;
    }

    .messages{
        text-align: left;
        font-size: 14px;
    }

    .main-area{
        width: auto;
        float: none;
        padding-right: 0px;
    }

    .sidebar{
        display: none;
    }

    .changelog{
        display: none;
    }

    header{
        border-bottom: 3px solid #e5e9dc;
    }

    .content-area{
        width: auto;
    }

    .dropdown{
        display: none;
    }

    .small-link{
        display: block;
        
    }

    .small-link a{
        padding: 8px 20px;
    }

    /* .members-count-media{
        display: block;
        float: right;
    } */

    .container{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
    .sidebar{
        display: none;
    }

    .main-area{
        width: auto;
        float: none;
        padding-right: 0px;
    }
    .small-link{
        display: block;
    }
    .dropdown{
        display: none;
    }
    .small-link a{
        padding: 8px 20px;
    }
    /* .members-count-media{
        display: block;
        float: right;
    } */
    .container{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*960px and up */
@media only screen and (min-width: 602px) {
    .container{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    /* .members-count-media{
        display: none;
    } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main-area{
        width: 66%;
        float: left;
        padding-right: 40px;
    }
    .sidebar{
        display:block;
    }
    .small-link{
        display: none;
    }
    .dropdown{
        display: inline-block;
    }
    .container{
        width: 940px;
        padding-left: 40px;
        padding-right: 40px;
    }
    /* .members-count-media{
        display: none;
    } */

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */