body {
    box-sizing: border-box;
    margin: 0;
    padding: 13px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    
    .main-area{
        font-size: 120%;
    }
    
    .members-list,
    .messages {
    border: 1px solid #e4e4e4;
    padding: 15px;
    margin-bottom: 15px;
    }
    .members-count{
    border: 1px solid #e4e4e4;
    margin-bottom: 15px;
    padding: 10px;
    }
    
    .messages {
    flex-shrink: 1;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    }
    
    .message {
    padding: 5px 0;
    font-family: 'M PLUS 1p', sans-serif;
    border: 2px solid lightgray;
    margin: 5px 0px;
    word-wrap: break-word;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 24px;
    max-height: 100px;
    }

    .message .member {
    display: inline-block;
    font-family: sans-serif;
    }
    
    .member {
    padding-right: 10px;
    position: relative;
    }

    .message img{
        float: right;
        max-height: 100px;
        border: dotted lightgray 1px;
        /* transition: all ease .5s; */
    }

    .message #img{
        float: none;
    }

    /* .member img:hover{
        height: 100px;
    } */
    
    .message-form {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    flex-shrink: 0;
    }

    .message-form__input {
    flex-grow: 1;
    border: 1px solid #dfdfdf;
    padding: 10px 15px;
    font-size: 16px;
    }
    .message-form__button {
    margin: 10px;
    }
