.sidebar{
    width: 34%;
    float: left;
    background-color: #e5e9dc;
    /* padding: 8px 10px; */
    box-sizing: border-box;
    font-size: 85%;
}

.sidebar a{
    padding: 0px;
    text-decoration: none;
    border: 0px solid white;
}

.sidebar .changelog{
    font-size: 80%;
}

/* Changelog */

.changelog a{
    /* background-color: black; */
    text-decoration: none;
    font-size: 140%;
    color:darkgreen;
}

.changelog a:hover {
    color:#617140;
    text-decoration: underline;
}

.changelog h2{
    border-bottom: 1px solid darkslategrey;
}

.changelog {
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    /* text-align: center; */
    padding: 10px 5px;
    background-color: lightgray;
    font-size: 100%;
    /* margin: 5px; */
    max-width: fit-content;
    border-top: 1px black solid;
}

.changelog::-webkit-scrollbar {
    display: none;
}