*::-webkit-scrollbar {
    display: none;
}

*{
    user-select: none; 
}

/* *{
    padding: 0px;
    margin: 0px;
} */

html{
    background-color: #869960;
}

body{
    font-family: Tahoma, sans-serif;
    font-size: 87%;
}

.members-count-media{
    font-size: 20px;
    float: right;
    border: 3px solid #e5e9dc;
    border-radius: 1px;

}

.chats{
    height: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: start;
    font-size: 60%;
}

.chats::-webkit-scrollbar {
    display: none;
}

table a {
    border: white 0px solid;
    padding: 0px;
}

.timm-forum{
    width: 400px;
    height: 300px;
    margin-bottom: -54px;
    left: -94px;
    top: -30px;
    position: relative;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    color: black;
    /* text-decoration: none; */
}

/* Banner Overlay */
.image-banner img{
    display: block;
}

.banner-description{
    position: relative;
    bottom: 0;
    left: 0;
    color: #FFF;
    background-color: rgba(0, 0, 0, .65);
    padding: 15px 25px;
}

.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

header {
    padding-top: 20px;
    color: #607140;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}

header p {
    margin: 0;
}

/* Site Navigation */
.site-nav {
    margin-top: 20px;
}

/* .site-nav .{
    margin: 0;
    padding: 0;
} */

.site-nav .group{
    /* float:left; */
    margin-right: 5px;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

.site-nav > .group a, .site-nav > .group > .members-count-media{
    display: inline-block;
}

.group a {
    display: block;
    color: #617140;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #e5e9dc;
}

.group .c{
    color: #dc143c;
    font-family: 'M PLUS 1p', sans-serif;
}

.c{
    color: #dc143c;
    font-family: 'M PLUS 1p', sans-serif;
}

.group .b{
    color: #0000ff;
    font-family: 'M PLUS 1p', sans-serif;
}

.b{
    color: #0000ff;
    font-family: 'M PLUS 1p', sans-serif;
}

.group .mu{
    color: #800080;
    font-family: 'M PLUS 1p', sans-serif;
}

.mu{
    color: #800080;
    font-family: 'M PLUS 1p', sans-serif;
}

.group .m{
    color:#008080 ;
    font-family: 'M PLUS 1p', sans-serif;
}

.m{
    color:#008080 ;
    font-family: 'M PLUS 1p', sans-serif;
}

.site-nav a:hover{
    background-color: #e5e9dc;
}

.content-area{
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}

.main-area{
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

footer {
    text-align: center;
    font-size: 85%;
    color: #999;
    padding-bottom: 20px;
    padding-top: 20px;
}

.fix {
    clear: both;
}

.group:before, .group:after {
    content: "";
    display: table;
}

.group:after{
    clear: both;
}

.group {
    zoom: 1;
    
}